<p id="notice"><%= notice %></p>

<div class="foto-bg">
  <%= image_tag "web-white-bg.jpg" %>
</div>

<div class="franja-dos">
  <h1>Rita Balboa Propiedades</h1>
</div>

<table>
  <thead>
    <tr>
      <th>Direccion</th>
      <th>Precio</th>
      <th>Cliente</th>

    </tr>
  </thead>

<% if user_signed_in? %>
  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td><%= property.direccion %></td>
        <td><%= property.precio %></td>
        <td><%= property.user.email %></td>
        <td><%= image_tag property.image.url(:medium) %></td>

        <td><%= link_to 'Show', property %></td>

        <% if property.user == current_user %>
        <td><%= link_to 'Edit', edit_property_path(property) %></td>
        <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>

  <% else %>

  <tbody>
  <% @properties.each do |property| %>
    <tr>
      <td><%= property.direccion %></td>
      <td><%= property.precio %></td>
      <td><%= property.user.email %></td>
      <td><%= image_tag property.image.url(:medium) %></td>

      <td><%= link_to 'Show', property %></td>

      <% if user_signed_in? %>
      <td><%= link_to 'Edit', edit_property_path(property) %></td>
      <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>

<% end %>


</table>

<br>


<%if user_signed_in? %>
<%= link_to 'New Property', new_property_path %>
<% end %>