<p id="notice"><%= notice %></p>

<div class="foto-bg">
  <%= image_tag "web-white-bg.jpg" %>
</div>

<div class="franja-dos">
  <div class="icons-container">
    <%= image_tag "clock.png" %>
    <%= image_tag "trust.png" %>
    <%= image_tag "document.png" %>
  </div>
</div>

<div class="propiedades-destacadas">

<h2>Propiedades Destacadas</h2>

<% if user_signed_in? %>

  <div class="container-fluid">
    <div class="row">
    <% @properties.each do |property| %>
        <div class="col-xs-6 col-md-4">
          <div class="thumbnail">
            <%= image_tag property.image.url(:medium), class: "img-rounded" %>
            <div class="caption">
            <% if property.user == current_user %>
              <h3><%= property.direccion %></h3>
              <p><%= property.user.email %></p>
              <p><%= property.precio %></p>
              <%= link_to 'Show', property, class: "btn btn-success" %>
              <%= link_to 'Edit', edit_property_path(property) %>
              <%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% else %>
              <h3><%= property.direccion %></h3>
              <p><%= property.user.email %></p>
              <p><%= property.precio %></p>
              <%= link_to 'Show', property, class: "btn btn-success" %>
            <% end %>
  
            </div>
          </div>
        </div>
    <% end %>
    </div>
  </div>

<% else %>

  <div class="container-fluid">
    <div class="row">
    <% @properties.each do |property| %>
        <div class="col-xs-6 col-md-4">
          <div class="thumbnail">
            <%= image_tag property.image.url(:medium), class: "img-rounded" %>
            <div class="caption">
            <% if user_signed_in? %>
              <h3><%= property.direccion %></h3>
              <p><%= property.user.email %></p>
              <p><%= property.precio %></p>
              <%= link_to 'Show', property, class: "btn btn-success" %>
              <%= link_to 'Edit', edit_property_path(property) %>
              <%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% else %>
              <h3><%= property.direccion %></h3>
              <p><%= property.user.email %></p>
              <p><%= property.precio %></p>
              <%= link_to 'Show', property, class: "btn btn-success" %>
            <% end %>
  
            </div>
          </div>
        </div>
    <% end %>
    </div>
  </div>

<% end %>

<% if user_signed_in? %>
<%= link_to 'New Property', new_property_path %>
<% end %>

</div>

<br>


